* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #f0f2f5;
    font-family: 'Roboto', sans-serif;
}

form,
.signInForm {
    background-color: white;
    border-radius: 5px;
    border-top: 5px solid #4c6ef5;
    /* border-radius: 2px 2px 5px 5p; */
    box-shadow: 0px 0px 20px 6px rgba(51, 51, 51, 0.493);
}

.email:focus {
    outline: none !important;
    /* border: none !important; */
    box-shadow: none !important;
    /* background-color: transparent; */
    /* background-color: transparent; */
}

.btn {
    background-color: #4c6ef5;
    color: white;
    font-weight: 500;
}

.btn:hover {
    background-color: #5c7cfa;
    color: white;
    font-weight: 500;
}

.btn:active {
    border: none;
    outline: 0;
    box-shadow: none;
}

.icon {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translate(50%, -50%);
    color: #4c6ef5;
}

.form-control:focus {
    border: none;
    outline: 0;
    box-shadow: none;
    border-radius: 4px;
    border: 2px solid #4c6ef5;
    background-color: transparent;
    transition: 0.5s;
}

.form-control {
    border: none;
    outline: 0;
    box-shadow: none;
    border-radius: 0px;
    border: 2px solid transparent;
    border-bottom: 2px solid #4c6ef5;
    background-color: transparent;
}

.input-parent {
    position: relative;
}

.sign-up-a {
    color: #4c6ef5;
    text-decoration: none;
}


/* .sign-up-a:hover {
    color: #12b886;
} */

.line {
    border-top: 2px solid #4c6ef5;
    /* color: #08; */
    opacity: 0.3;
}

.social-icon {
    background-color: #4c6ef5;
    border-radius: 50%;
    cursor: pointer;
}

.social-icon:hover {
    background-color: #4c6ef5;
}

.social-icon i {
    padding: 5px;
}

.form-txt {
    color: #333;
}

.pass-icon {
    cursor: pointer;
}

.pass-icon:hover i {
    color: #12b886;
}

.visibility {
    visibility: hidden !important;
}

.pasmatch,
.pasmatch1,
.paslength,
.paslength1,
.mailExist,
.WrongMail {
    display: none;
    color: orangered;
}

.accountCreated {
    display: none;
}