@media (max-width: 1000px) {
    .right {
        display: none;
    }
    .middle {
        flex-basis: 68%;
    }
    .left {
        border-radius: 0.8rem;
        /* border-top-left-radius: 0.8rem;
        border-bottom-left-radius: 0.8rem; */
        /* border: 2px solid green; */
        flex-basis: 30%;
        background-color: white;
        height: 85vh;
        position: sticky;
        align-self: flex-start;
        top: 9rem;
        overflow-y: scroll;
    }
    .container {
        width: 100% !important;
    }
}

@media (max-width: 750px) {
    .toga {
        /* display: block; */
        visibility: visible;
    }
    .mediaToggle {
        display: none;
    }
    .left {
        position: absolute;
        top: 5rem;
        left: 0;
        flex-basis: 97%;
        transition: all 1s linear;
        z-index: 2;
    }
    .close {
        display: block;
    }
    .main {
        padding-top: 0 !important;
    }
    .middle {
        flex-basis: 97%;
    }
    .right {
        display: none;
    }
    .main {
        display: flex;
        justify-content: center;
        margin-top: 0rem;
        position: absolute;
        padding: 2rem;
        padding-top: 5rem;
        background-color: #f0f2f5;
        border-radius: 1rem;
    }
    .modalContainer {
        width: 97vw;
    }
    .mediaNav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 4rem;
        background-color: white;
        font-size: 2rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}