* {
    margin: 0;
    padding-top: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif !important;
    background: linear-gradient(121deg, rgba(32, 201, 151, 1) 0%, rgba(230, 252, 245, 1) 48%, rgba(8, 127, 91, 1) 83%);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.main-container {
    border: 2px solid #12b886;
    /* height: 85vh; */
    background-color: white;
    border-radius: 5px;
    /* margin-bottom: 1rem; */
}

.navbar,
.dropdown-menu {
    /* color: aquamarine; */
    /* font-weight: 700; */
    color: #087f5b;
    background-color: #e9ecef!important;
    /* border: 2px solid black; */
    padding: 0;
}

.nav-item,
.dropdown-item {
    border-bottom: 2px solid transparent;
}

.nav-item:hover,
.dropdown-item:hover {
    border-bottom: 2px solid #087f5b;
    background-color: #e6fcf5;
}

.active {
    border-bottom: 2px solid #087f5b;
    background-color: #e6fcf5;
}

.btn {
    background-color: #12b886;
    color: white;
    font-weight: 500;
    padding: 6px 12px;
    height: 2.5rem;
    width: 15rem;
}

.btn:hover {
    background-color: #20c997;
    color: white;
    font-weight: 500;
}

.btn:active {
    border: none;
    outline: 0;
    box-shadow: none;
}

.form-control:focus {
    /* border: none; */
    outline: 0;
    box-shadow: none;
    background-color: #e6fcf5;
    border: 2px solid #20c997;
    transition: 0.5s;
}

.form-control {
    /* border: none; */
    border: 2px solid #12b886;
    outline: 0;
    box-shadow: none;
    border-radius: 2px;
    /* border: 2px solid transparent; */
    /* border-bottom: 2px solid #12b886; */
    background-color: transparent;
    width: 15rem;
    margin: 0px !important;
}

.navbar-brand {
    color: #045c41 !important;
}

.search {
    width: 8rem;
    height: 2rem;
    transition: 2s;
    margin: 0px;
}

.account-p {
    color: #555;
}

thead {
    background-color: #12b886;
}

.table {
    background-color: #f1f3f5;
}

.table-head {
    background-color: #12b886;
}

tr:nth-child(even) {
    background-color: #e6fcf5;
}

tr:nth-child(odd) {
    background-color: #c3fae8;
}

.table-head tr {
    cursor: pointer;
    background-color: #20c997 !important;
}

.img-container {
    display: block;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    overflow: hidden;
    /* background-color: black; */
}

.img-container img {
    width: 100%;
}


/* 
.ViewTrans {
    border: 2px solid #12b886;
}

.ViewTrans1 {
    border-right: 2px solid #12b886;
    border-top: 2px solid #12b886;
    border-bottom: 2px solid #12b886;
} */

@media (max-width: 800px) {
    .mediaTable {
        display: block;
        overflow-x: auto;
        /* overflow: scroll; */
    }
}

@media (max-width: 1100px) {
    .mediaTable1 {
        display: block;
        overflow-x: auto;
        /* overflow: scroll; */
    }
}